<section class="row">
  <div class="col span-1">
    <div class="pt-10">
      <label>WHEN A</label>
    </div>
  </div>

  <div class="col span-10">

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="systemService"}} System Service
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=systemServices
            class="form-control"
            value=model.targetSystemService.condition
            placeholder="Choose a System Service"
            readOnly=(not-eq model._targetType 'systemService')
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label class="pr-5">
          {{radio-button selection=model._targetType value="normalEvent"}} Normal
        </label>
        <label>
          {{radio-button selection=model._targetType value="warningEvent"}} Warning
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=resourceKinds
            class="form-control"
            value=model.targetEvent.resourceKind
            placeholder="Choose a Resource"
            readOnly=(not-eq isEventTarget true)
        }}
      </div>
      <div class="col span-1"> Event </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="node"}} Node
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=nodes
            class="form-control"
            value=model.targetNode.nodeId
            optionValuePath="id"
            optionLabelPath="name"
            placeholder="Choose a Node"
            readOnly=(not-eq model._targetType 'node')
        }}
      </div>
    </div>
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="nodeSelector"}} Node Selector
        </label>
      </div>
      <div class="col span-8 mt-0">
        <!-- <p class="text-info text-small">Workloads that match all the selectors will be selected.</p> -->
        {{#if (eq model._targetType 'nodeSelector')}}
          {{form-key-value
              addActionLabel="alertPage.addSelectorLabel"
              initialMap=model.targetNode.selector
              changed=(action (mut model.targetNode.selector))
          }}
        {{else}}
          <button {{action "noop"}} style="cursor:not-allowed;" class="btn bg-disabled icon-btn">
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'alertPage.addSelectorLabel'}}</span>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="row">
  <div class="col span-1">
    <div style="{{if (eq _targetType 'systemService') '' 'padding-top: 6px;'}}">{{if isEventTarget 'HAPPENS' 'IS'}}</div>
  </div>
  <div class="col span-10">
  {{#if (eq model._targetType 'systemService')}}
    <label class="mr-10 pt-5">
      {{radio-button selection="whatever" value="whatever"}} Unhealthy
    </label>
  {{else if (or (eq model._targetType 'node') (eq model._targetType 'nodeSelector'))}}
    <label class="mr-10">
      {{radio-button selection=model.targetNode.condition value="notready"}} Not ready
    </label>
    <label class="ml-10">
      {{radio-button selection=model.targetNode.condition value="cpu"}} CPU usage over
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetNode.condition 'cpu')
          min=1
          value=model.targetNode.cpuThreshold
      }}
    </div>%

    <label class="ml-10">
      {{radio-button selection=model.targetNode.condition value="mem"}} MEM usage over
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetNode.condition 'mem')
          min=1
          max=100
          value=model.targetNode.memThreshold
      }}
    </div>%
  {{else}}
  {{/if}}
  </div>
</section>

<hr/>
<section class="row">
  <div class="col span-1">
    SEND A
  </div>
  <div class="col span-10">
    <label class="mr-10">{{radio-button selection=model.severity value="critical"}} Critical</label>
    <label class="mr-10">{{radio-button selection=model.severity value="warning"}} Warning</label>
    <label class="mr-10">{{radio-button selection=model.severity value="info"}} Info</label>
  </div>
</section>
